*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: poppins, sans-serif;
}

nav{
    height:10px;
    padding:10px 50px;
}

.logo{
    display:inline-block;
}

.logo img{
    width:60px;
    height:auto;
}

.menu{
    display:inline-block;
    list-style:none;
    margin-left:450px;
}

.menu li{
    display:inline-block;
    margin:0 15px;
}


.menu a{
    text-decoration:none;
    color:black;
}

.menu a:hover{
    color:#001eff;
}

.user{
    display:inline-block;
    background:#a9cbe0;
    padding:10px 20px;
    border-radius:8px;
    margin-left:420px;
}

/* Hero */

.hero{
    height:auto;
    padding:100px 100px;
}

.left{
    display:inline-block;
    width:49%;
    vertical-align:middle;
}

.left h1{
    font-size:55px;
    line-height:1.3;
}

.left span{
    color:#1731d7;
}

.left p{
    margin:20px 0;
    color:gray;
    font-size:18px;
}

.left button{
    padding:15px 30px;
    border:none;
    background:#001eff;
    color:white;
    border-radius:10px;
    cursor:pointer;
    font-size:16px;
}

.right{
    display:inline-block;
    width: 49%;
    vertical-align:middle;
}

.right{
    text-align:center;
}

.right img{
    width:450px;
    max-width:100%;
}